
.main-btn-comon {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #4a2ff7;
    padding: 0 35px;
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background-color: #4a2ff7;
    border-radius: 10px;
    width: 190px;

  }


  @media (max-width: 767px) {
    .main-btn-comon {
      font-size: 14px;
      padding: 0 25px;
      line-height: 43px;
    }
  }
 
  .main-btn-comon i {
    font-size: 18px; /* Increase the icon size */
    margin-left: 8px; /* Add some spacing between text and icon */
  }
  .main-btn-comon:hover {
    background-color: #fff;
    color: #4a2ff7;
    border-color: #4a2ff7;
  }
  .main-btn-comon.main-btn-2 {
    background-color: #fff;
    color: #4a2ff7;
    border-color: #4a2ff7;
  }
  .main-btn-comon.main-btn-2:hover {
    background-color: #4a2ff7;
    border-color: #4a2ff7;
    color: #fff;
  }
  
  

.new-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #4a2ff7;
  padding: 0 35px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  border-radius: 10px;
  width: 155px;
}

.new-btn i {
  font-size: 18px;
  margin-left: 8px;
}

.new-btn:hover {
  background-color: #ffffff00;
  color: #4a2ff7;
  border-color: #4a2ff7;
}

.new-btn.new-btn-2 {
  background-color: #fff;
  color: #4a2ff7;
  border-color: #4a2ff7;
}

.new-btn.new-btn-2:hover {
  background-color: #ffffff00;
  border-color: #4a2ff7;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1rem; 
}